#states {
    position: absolute;
    top: 0;
    left: 600px;
    border: 5px solid rgb(0, 127, 0);
    border-radius: 10px;
    font: 50px bold Arial, sans-serif;
    color: rgb(0, 127, 0);
    background-color: rgb(255, 255, 255);
}

#image {
    position: absolute;
    top: 40px;
}